In [3]:
import pandas as pd
import numpy as np

In [ ]:
index = ["a","b","c","d"]
ser1 = pd.Series(np.arange(4)*10,index)
ser1

In [ ]:
ser1['b':"d"]

In [ ]:
data = np.arange(16).reshape((4,4))
index = ['ohio','colorado','utah','new york']
columns = ['one','two','three','four']
df1 = pd.DataFrame(data, index, columns)
df1

In [ ]:
df1['two']

In [ ]:
df1[['two','four']]

In [ ]:
df1[df1['three'] > 5]

In [ ]:
df1.loc['colorado',['two','three']]

In [ ]:
df1.iloc[1,[1,2]]

In [ ]:
df1.loc[['colorado','utah'],['two','three']]

In [ ]:
df1.iloc[[1,2],[1,2]]

In [ ]:
df1 = pd.DataFrame(np.arange(12).reshape((3,4)),
                   columns = ['a','b','c','d'])
df2 = pd.DataFrame(np.arange(20).reshape((4,5)),
                   columns = ['a','b','c','d','e'])
df2.loc[1,'b']=np.nan
# print(df1);print(df2)

In [ ]:
df1 + df2

In [ ]:
df1.add(df2)

In [ ]:
df1.add(df2,fill_value=0)

In [ ]:
frame = pd.DataFrame(np.random.randn(4,3),columns = ['b','c','d','e'],
                 index = ['utah','ohio','texas','oregon'])
frame

In [ ]:
np.abs(frame)

In [ ]:
f = lambda x: x.max()-x.min()
frame.apply(f)

In [ ]:
frame.apply(lambda x: x.max()-x.min(),axis='columns')

In [ ]:
def f(x):
    data = [x.min(), x.max()]
    index = ['min', 'max']
    return pd.Series([data,index])

frame.apply(f)

In [ ]:
format = lambda x: '%.2f'%x 
frame.applymap(format)

In [ ]:
frame['e'].map(format)

In [4]:
s3 = pd.Series([0,1,2,3],index = ['d','a','b','c'])
s3

d    0
a    1
b    2
c    3
dtype: int64

In [5]:
s3 = pd.Series([0,1,2,3],index = ['d','a','b','c'])
s3.sort_index()

a    1
b    2
c    3
d    0
dtype: int64

In [6]:
df3 = pd.DataFrame(np.arange(8).reshape((2,4)),
                  index = ['three','one'],
                  columns = ['d','a','b','c'])
df3

       d  a  b  c
three  0  1  2  3
one    4  5  6  7

In [10]:
df3.sort_index(axis=0)

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [21]:
df3.sort_index().sort_index(axis=1)

       a  b  c  d
one    5  6  7  4
three  1  2  3  0

In [22]:
df3.sort_index(axis=0, ascending = True)

       d  a  b  c
one    4  5  6  7
three  0  1  2  3

In [24]:
s4 = pd.Series([4,7,-3,2])
s4.sort_values()

2   -3
3    2
0    4
1    7
dtype: int64

In [30]:
s5 = pd.Series([7,-5,7,4,2,0,4])
s5.rank(ascending = False, method='max')

0    2.0
1    7.0
2    2.0
3    4.0
4    5.0
5    6.0
6    4.0
dtype: float64

In [32]:
s6 = pd.Series(range(5),index = ['a','a','b','b','c'])
s6

a    0
a    1
b    2
b    3
c    4
dtype: int64

In [36]:
s6 = pd.Series(range(5),index = ['kim1','kim2','lee1','lee2','park'])
s6

kim1    0
kim2    1
lee1    2
lee2    3
park    4
dtype: int64

In [37]:
s6.index.is_unique # 중복값이 있냐 없냐

True

In [38]:
s6['park']

4