In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import math as m
import pandas_datareader.data as web
from bs4 import BeautifulSoup
import requests

In [11]:
my_xlsx = pd.ExcelFile('examples/ex1.xlsx')

In [13]:
df2 = pd.read_excel(my_xlsx,"Sheet1")
df2

   Unnamed: 0  a   b   c   d message
0           0  1   2   3   4   hello
1           1  5   6   7   8   world
2           2  9  10  11  12     foo

In [17]:
writer = pd.ExcelWriter('examples/ex2.xlsx')
df2.to_excel(writer,"Sheet1")
writer.save()

In [18]:
import sqlite3

In [20]:
query = "CREATE TABLE test(a VARCHAR(20),b VARCHAR(20),c REAL,d INTEGER);"
con = sqlite3.connect('mydata.sqlite')
con.execute(query)

In [21]:
con.commit()

In [22]:
data = [('atlanta','georgia',1.25,6),
       ('tallahassee','florida',2.6,3),
       ('atlanta','california',1.7,5)]
query = 'INSERT INTO test VALUES(?,?,?,?)'
con.executemany(query,data)
con.commit()

In [28]:
query = 'SELECT * FROM test'
cur = con.execute(query)
rows = cur.fetchall()
rows

[('atlanta', 'georgia', 1.25, 6),
 ('tallahassee', 'florida', 2.6, 3),
 ('atlanta', 'california', 1.7, 5)]