In [10]:
a = "Life is ~~~"
a[0:4]

'Life'

In [12]:
a[0:5]

'Life '

In [14]:
a1 =a[0:4]
a2 =a[0:5]

In [15]:
if a1 == a2:
    print("같다")
else:
    print("다르다")

다르다

In [16]:
print(a1,len(a1))
print(a2,len(a2))

Life 4
Life  5

In [19]:
words = "딸기,바나나,수박"

In [43]:
wordToFind="바나나"
indexofbanana=words.find("wordToFind")
banannaFromWords1 = words[indexofbanana:indexofbanana+3]
print(banannaFromWords1)

In [27]:
wmfromword2=words[7:9]
print(wmfromword2)

수박

In [66]:
a = "pithon"

In [67]:
a[1]

'i'

In [68]:
a[1]='y'

TypeError: 'str' object does not support item assignment

In [69]:
a2=a[:1]+"y"+a[2:]

In [71]:
a=a2
print(a)

python

In [74]:

name1="김형우";major1="m";howmanyphone1=2
name2="김한남";major2="t";howmanyphone2=3
print("name1"+"\t"+"major"+"\t"+"howmanyphone1")
print(name1+"\t"+major1+"\t"+str(howmanyphone1))
print(name2+"\t"+major2+"\t"+str(howmanyphone2))

name1	major	howmanyphone1
김형우	m	2
김한남	t	3

In [78]:
print("%s""120")
print("%s" % "120")
print("%10s" % "120")

%s120
120
       120

In [80]:
print("%-10s" % "120")
print("%-10s" % "12000")

120
12000

In [82]:
print("%0.2f" % 120)
print("%0.2f" % 12000)

120.00
12000.00

In [85]:
"~~~~{0}~~~{1}~~~".format("가",2)

'~~~~가~~~2~~~'

In [86]:
"{0}".format("120")

'120'

In [88]:
"{0:>10}".format("120")

'       120'

In [89]:
name ="가나"
age=120
"나의 이름은 {0}입니다.나이는 {1}살 까지 살고 싶어요".format(name,age)

'나의 이름은 가나입니다.나이는 120살 까지 살고 싶어요'

In [92]:
f"나의 이름은 {name}입니다.나이는 {age}살 까지 살고 싶어요"

'나의 이름은 가나입니다.나이는 120살 까지 살고 싶어요'

In [93]:
len("바나나")

3

In [121]:
"내가 가장 좋아하는 바나나는 크기가 큰 바나나 입니다.왜냐면 작은 바나나는 같은 무게를 사도 껍질이 버려져요".count("바나나")

3

In [124]:
",".join("abcd")

'a,b,c,d'

In [125]:
",".join(["abc","def","ghi"])

'abc,def,ghi'

In [127]:
#숫자만으로 저장된 전화 번호를 DB에서 얻었다. 01038051234 이 번호를 -로 연결하자
"-".join(["010","3805","1234"])

'010-3805-1234'

In [129]:
a = "I love apple. because apple is so sweet"
b = a.replace("apple","peach")
print(b)

I love peach. because peach is so sweet

In [131]:
# 010-3805-1234 -> 01038051234
a = "010-3805-1234"
b = a.replace("-","")
print(b)

01038051234

In [133]:
a='life is good'
b=a.split()
b

['life', 'is', 'good']

In [138]:
# 010-3805-1234
a = '010-3805-1234'
b = a.split('-')
b
print("식별번호:",b[0],"국번",b[1],"개인번호",b[2])

식별번호: 010 국번 3805 개인번호 1234

In [141]:
a = []
print(a)
e = [1,2,[3,4]]
print(e)
print(len(e))

[]
[1, 2, [3, 4]]
3

In [145]:
str1 = "abc"
print(str1[2])
a=[1,2,3]
a[2]=4
print(a)

c
[1, 2, 4]

In [148]:
a = [1,4,3,2]
a2 = a[:]
a2.sort()
print(a2)

[1, 2, 3, 4]

In [150]:
a = [1,4,3,2]
a2 = sorted(a)
print(a2)
print(a)

[1, 2, 3, 4]
[1, 4, 3, 2]

In [152]:
a = [1,4,3,2]
a.sort(reverse = True)
print(a)

[4, 3, 2, 1]

In [153]:
a = [1,4,3,2]
a2 = sorted(a, reverse=True)
print(a2)
print(a)

[4, 3, 2, 1]
[1, 4, 3, 2]

In [154]:
a = [1,2,3]
a[2]

3

In [155]:
a

[1, 2, 3]

In [156]:
a.pop()

3

In [158]:
a

[1, 2]

In [159]:
a1 = [1,2]; a2=[3,4]
new1 = a1+a2 ; print(new1)
a1.extend(a2);print(a1)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [164]:
my_dic1 = {}

In [165]:
my_dic1["banana"]="노랗고 달콤한 과일"

In [166]:
my_dic1["strawberry"]="새콤 달콤 빨간 과일"

In [167]:
my_dic1

{'banana': '노랗고 달콤한 과일', 'strawberry': '새콤 달콤 빨간 과일'}

In [171]:
# del my_dic1[0]
del my_dic1["banana"]

In [172]:
my_dic1

{'strawberry': '새콤 달콤 빨간 과일'}

In [176]:
my_dic1["banana"]="노랗고 달콤한 과일"
my_dic1

{'strawberry': '새콤 달콤 빨간 과일', 'banana': '노랗고 달콤한 과일'}

In [180]:
my_dic1.keys()

dict_keys(['strawberry', 'banana'])

In [181]:
a = ['strawberry','banana','strawberry']

In [182]:
my_dic1["banana"]="노랗고 달콤한 과일2"

In [183]:
my_dic1

{'strawberry': '새콤 달콤 빨간 과일', 'banana': '노랗고 달콤한 과일2'}

In [186]:
if 3>1:
    print("참")
if 4>10:
    print("참")

참

In [187]:
if 3<1:
    print("거짓")
else:
    print("거짓")

거짓

In [188]:
a = 2
b = 2
if a == b:
    print("두 수가 같다")

두 수가 같다

In [190]:
1 in [1,2,3]
1 not in [1,2,3]

False